SEFAZ_USER=
SEFAZ_PASSWORD=
PLANILHA_NOTAS=

# Opcional
# PLAYWRIGHT_CHANNEL=chrome|msedge|chromium
# SEFAZ_HEADLESS=1
# SEFAZ_TIMEOUT_MS=30000
# SEFAZ_AUTH_MODE=auto
# SEFAZ_CERT_PATH=../shared/certificado/seu-certificado.pfx
# SEFAZ_CERT_PASSWORD_FILE=../shared/certificado/SENHA.txt
# SEFAZ_CERT_PASSWORD=
# DRY_RUN=1
# STEP_DELAY_MS=1000
