SIEG_API_KEY=preencha_aqui
NUM_THREADS_DOWNLOAD=6
DOWNLOAD_WARM_UP_FASE1_QTD=1
DOWNLOAD_WARM_UP_FASE1_THREADS=1
DOWNLOAD_WARM_UP_FASE2_QTD=5
DOWNLOAD_WARM_UP_FASE2_THREADS=3
DOWNLOAD_WARM_UP_FASE3_QTD=15
DOWNLOAD_WARM_UP_FASE3_THREADS=6
DOWNLOAD_WARM_UP_DELAY=0.1
