# Configurações do ONVIO
ONVIO_EMAIL=seu-email@exemplo.com
ONVIO_PASSWORD=sua-senha
ONVIO_CLIENT_ID=467
ONVIO_MFA_METHOD=E-mail
ONVIO_MFA_CODE=

# Configurações opcionais
# ONVIO_TIMEOUT=600000
# ONVIO_HEADLESS=false
