# Credenciais Onvio (nunca commitar .env com valores reais)
ONVIO_EMAIL=seu-email@exemplo.com.br
ONVIO_PASSWORD=sua-senha
# Caminho absoluto para o arquivo .pfx do certificado
ONVIO_PFX_PATH=
# Senha do certificado .pfx
ONVIO_PFX_PASSWORD=senha-do-certificado
# CNPJ apenas números (14 dígitos)
ONVIO_CNPJ=00000000000000
# Opcional; padrão https://onvio.com.br
# ONVIO_BASE_URL=https://onvio.com.br
