ONVIO_EMAIL=
ONVIO_PASSWORD=

# Opcional
# ONVIO_BASE_URL=https://onvio.com.br
# HEADLESS=false
# ONVIO_MFA_METHOD=E-mail
# ONVIO_MFA_CODE=
# ONVIO_MFA_TIMEOUT_MS=120000
# ONVIO_AUTH_ARTIFACT_PATH=
# ONVIO_STORAGE_STATE_PATH=
