SERPRO_CONSUMER_KEY=<consumer-key>
SERPRO_CONSUMER_SECRET=<consumer-secret>
SERPRO_CERT_PFX_PATH=<caminho-absoluto-do-certificado.pfx>
SERPRO_CERT_PASSWORD=<senha-do-certificado>
SERPRO_CONTRATANTE_CNPJ=00000000000000
SERPRO_CONTRIBUINTE_CNPJ=00000000000000
