ONVIO_AUTH_ARTIFACT_PATH=
ONVIO_EMAIL=
ONVIO_PASSWORD=
ONVIO_MFA_METHOD=E-mail
ONVIO_MFA_CODE=
GESTTA_JWT_TOKEN=
ONVIO_UDS_LONG_TOKEN=
MCP_ALLOWED_ROOTS=
MCP_OUTPUT_DIR=
MCP_AUDIT_DIR=
MCP_CONFIRMATION_TTL_MS=900000
MCP_HTTP_TIMEOUT_MS=60000
MCP_READ_RETRIES=3
MCP_MAX_DOCUMENT_BYTES=20971520
MCP_CONCURRENCY=3
MCP_ALLOW_BROWSER_FALLBACK=true
MCP_BROWSER_HEADLESS=true
